/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment .email-form {
  width: 100%;
}
.appointment .email-form .form-group {
  padding-bottom: 8px;
}
.appointment .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.appointment .email-form .error-message {
  display: none;
  color: #ffffff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.appointment .email-form .error-message br + br {
  margin-top: 25px;
}
.appointment .email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.appointment .email-form .loading {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
}
.appointment .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.appointment .email-form input, .appointment .email-form textarea, .appointment .email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}
.appointment .email-form input:focus, .appointment .email-form textarea:focus, .appointment .email-form select:focus {
  border-color: #1977cc;
}
.appointment .email-form input, .appointment .email-form select {
  height: 44px;
}
.appointment .email-form textarea {
  padding: 10px 12px;
}
.appointment .email-form button[type=submit] {
  background: #1977cc;
  border: 0;
  padding: 10px 25px;

  color: #ffffff;
  transition: 0.4s;
  border-radius: 50px;
}
.appointment .email-form button[type=submit]:hover {
  background: #3291e6;
}

.naver-btn {
  background: #2DB400;
  border: 0;
  padding: 10px 25px;

  color: #ffffff;
  transition: 0.45s;
  border-radius: 50px;
}