/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #009970;
  padding: 40px 0 20px 0;
  color: #fff;
}
.counts .counters span {
  font-size: 36px;
  display: block;
  font-weight: 700;
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Gothic A1", "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}