html, body, #app{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    /* network colors */
    --test-color:         #00F100;
    --main-color:         #FF9A00;
    --regtest-color:      #00CAF1;
    --signet-color:       #BD10E0;
    --default-color:      #79869B;
    /* color scheme */
    --cmap-bg:            #192332;
    --cmap-bg-lighter:    #222B3C;
    --cmap-bg-lightest:   #263044;
    --cmap-border:        #506072;
    --cmap-border-darker: #405062;
    --cmap-border-darkest:#323E50;
    /* for buttons and stuff */
    --cmap-default:       #506072;
    --cmap-default-darker:#394659;
    --cmap-default-darkest:#323E50;
    --cmap-blue:          #4A8FE2;
    --cmap-blue-darker:   #3575C0;
    --cmap-red:           #A12737;
    --cmap-red-darker:    #951E2D;
    --cmap-orange:        #DF7B00;
    --cmap-orange-darker: #C56100;
    /* for relative bg */
    --cmap-slightly-darker: rgba(0,0,0,0.1);
    --cmap-slightly-brighter: rgba(255,255,255,0.1);
    /* text stuff */
    --cmap-text:          #fff;
    --cmap-opa:           0.7;
    --cmap-radius:        10px;

    background: var(--cmap-bg);
    color: var(--cmap-text);
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav.side {
    width: 250px;
    min-width: 250px;
    border-right: 1px solid var(--cmap-border-darker);
    background: var(--cmap-bg-lightest);
    display: flex;
    flex-direction: column;
}
nav a, nav a:hover{
    text-decoration: none;
}
nav.side > a{
    width: 100%;
    border-left: 3px solid transparent;
    padding: 0 10px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}
nav.side .logo{
    margin-top: 10px;
    margin-bottom: 20px;
    background: var(--cmap-bg-lightest) !important;
    border-left: 3px solid transparent !important;
}
nav.side .submenu{
    background: var(--cmap-bg-lighter);
    font-size: 14px;
    padding: 10px 0 0 0;
}
nav.side .submenu a{
    height: 25px;
    display: flex;
    align-content: center;
    flex-direction: row;
    border-left: 3px solid transparent;
}
nav.side .submenu a > *:first-child{
    width: 80px;
    padding-left: 22px;
    text-align: left;
}
nav.side .submenu a{
    opacity: var(--cmap-opa);
}
nav.side .submenu a.selected{
    border-left: 3px solid var(--cmap-blue);
    background: rgba(0,0,0,0.2);
}
nav.side .selected{
    background: var(--cmap-bg-lighter);
    border-left: 3px solid var(--cmap-blue);
}
nav.side h1{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
    font-weight: bold;
}
.menu-icon{
    width: 40px;
    height: 40px;
    display: flex;
    margin: 0 10px;
    align-content: center;
    justify-content: center;
    opacity: var(--cmap-opa);
}
.logo .menu-icon,
a:hover .menu-icon{
    opacity: 1;
}
.menu-icon img{
    max-width: 40px;
    max-height: 40px;
}
.menu-body{
    margin: 0 10px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
small,.small{
    font-size: 14px;
    color: var(--cmap-text);
    opacity: var(--cmap-opa);
}
h1{
    font-weight: normal;
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
h2{
    font-weight: normal;
    font-size: inherit;
    padding: 0;
    margin: 10px 0 0 0;
}
table.labeled{
    font-size: 14px;
}
table.labeled td{
    height: 24px;
    padding-left: 20px;
}
table.labeled tr td:first-child{
    opacity: var(--cmap-opa);
    padding: 0;
}
.tag{
    background: var(--cmap-blue-darker);
    padding: 3px 10px;
    border-radius: 50px;
    margin: 0 20px 0 -10px;
}
.tag:hover{
    background: var(--cmap-blue);
    text-decoration: none;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.row.even > *{
    flex-grow: 1;
    width: 100%;
}
.tight-right{
    margin-right: -20px;
}
.tight-top{
    margin-top: -3px;
}
.actions{
    display: flex;
    flex-direction: row;
    margin: 20px -20px -20px -20px;
    border-radius: 0 0 var(--cmap-radius) var(--cmap-radius);
}
.actions.right{
    margin-left: auto;
    justify-content: right;
}
.actions.right > a {
    max-width: 150px;
}
.actions > a {
    background: var(--cmap-default-darker);
    flex-grow: 1;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}
.actions > a:hover,
.actions > a.active{
    background: var(--cmap-default);
}
.actions > a:first-child{
    border-radius: 0 0 0 var(--cmap-radius);
}
.actions > a:last-child{
    border-radius: 0 0 var(--cmap-radius) 0;
}
.actions.right > a:first-child{
    border-radius: var(--cmap-radius) 0 0 0;
}
.actions > a.selected {
    /* background: var(--cmap-slightly-darker); */
    background: transparent;
}
.actions > a.selected:hover {
    background: var(--cmap-default-darkest);
}
main{
    flex-grow: 1;
    padding: 30px 50px;
    height: 100%;
    overflow-y: scroll;
}
a {
    color: var(--cmap-text);
}
nav a,
a.btn {
    text-decoration: none;
}
nav .spacer{
    flex-grow: 1;
}
.btn, button{
    white-space: nowrap;
    background: var(--cmap-default-darker);
    border-radius: var(--cmap-radius);
    padding: 10px 30px;
    max-height: 45px;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: inherit;
}
.btn img,
button img{
    margin-right: 10px;
    max-width: 22px;
    /* vertical-align: text-bottom; */
}
button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
    opacity: var(--cmap-opa);
}
.btn:hover,
button:not([disabled]):hover{
    background: var(--cmap-default);
}
.btn.danger,
button.danger{
    background: var(--cmap-red-darker);
}
.btn.danger:hover,
button.danger:not([disabled]):hover{
    background: var(--cmap-red);
}
.btn.warning,
button.warning{
    background: var(--cmap-orange-darker);
}
.btn.warning:hover,
button.warning:not([disabled]):hover{
    background: var(--cmap-orange);
}

hr{
    border: 0px;
}
.summary{
    background: var(--cmap-bg-lightest);
    border-radius: var(--cmap-radius);
    box-sizing: content-box;
    padding: 20px;
    margin: 20px 0;
}
.inner {
    margin-left: 20px;
    margin-right: 20px;
}

/* TABLE */

.table{
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--cmap-border-darkest);
    background: var(--cmap-bg-lightest);
    margin: 20px 0;
}
.table-holder{
    padding: 0 30px;
    width: 100%;
    /*overflow-x: scroll;*/
}
.full-width{
    width: 100%;
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table td, .table th{
    padding: 20px 10px;
    border-bottom: 1px solid var(--cmap-border-darkest);
}
.table tr, .table thead{
    background: var(--cmap-bg-ligher);
}
.table th{
    text-align: left;
    font-weight: inherit;
    color: rgba(255,255,255,0.5);
    border-bottom: 3px solid var(--cmap-border-darkest);
}
.table tr > *:first-child{
    padding-left: 20px;
}
.table tbody tr:hover{
    background: rgba(255,255,255,0.03);
    color: #fff;
}
.table td img{
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: text-bottom;
    margin-bottom: -2px;
}
img.tiny,
.table td img.tiny{
    width: auto;
    height: 16px;
    margin-right: 2px;
    vertical-align: text-bottom;
    margin-bottom: 0px;
}
tr td.onhover{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
tr td.onhover > * {
    visibility: hidden;
}
tr:hover td.onhover > * {
    visibility: inherit;
}

/* FORM ELEMENTS */
.table form.controls{
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0;
    padding: 0;
}
input, textarea, .input, select {
    border: 1px solid var(--cmap-bg-lightest);
    background: var(--cmap-bg);
    border-radius: var(--cmap-radius);
    padding: 8px 15px 8px 10px;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    min-width: 170px;
    color: #fff;
}
label.inline{
    display: flex;
    flex-direction: row;
}
label.inline input[type="checkbox"],
input[type="checkbox"]{
    width: 20px;
    min-width: 20px;
}

/* ERROR MESSAGES CONTAINER */
#messages{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99999;
    margin-left: -25%;
}

/* STATUS CARD */
.status-card{
    background: var(--cmap-bg-lightest);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: var(--cmap-radius);
    text-align: center;
}

/* NEW FORM */
.new-form{
    background: var(--cmap-bg-lightest);
    margin: 20px auto;
    max-width: 700px;
    padding: 50px;
    border-radius: var(--cmap-radius);
}
.new-form label{
    font-size: 14px;
    color: var(--cmap-text);
    opacity: var(--cmap-opa);
    display: block;
    margin-top: 10px;
    padding-left: 10px;
}
.new-form label input[type="checkbox"]{
    display: inline-block;
    width: 20px;
    min-width: 20px !important;
}
.new-form label.checkbox{
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* PAGE LOADER */
.pageloader{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, var(--main-color), var(--cmap-red), var(--main-color), var(--cmap-red), var(--main-color), var(--cmap-red), var(--main-color));
    background-size: 200% 100%;
    animation: loaderloop 2s linear infinite;
    display: none;
}
@keyframes loaderloop {
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 200% 50%;
    }
}
code{
    margin: 5px 0;
    padding: 2px;
    background: rgba(0,0,0,0.3);
    border: 1px solid transparent;
    border-radius: 3px;
    opacity: 1;
}