/* THis file is mainly copied from specter and then slimmed down so that nothing obvious bad happens.
It's used ony in the settings-page and clearly is improvable. Probably one can delete anoth 90% here.
*/


.pageloader{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, var(--main-color), var(--cmap-red), var(--main-color), var(--cmap-red), var(--main-color), var(--cmap-red), var(--main-color));
    background-size: 200% 100%;
    animation: loaderloop 2s linear infinite;
    display: none;
}
@keyframes loaderloop {
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 200% 50%;
    }
}

#side-content{
    background: var(--cmap-bg-lighter);
    border-right: 1px solid var(--cmap-bg-lightest);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    z-index: 100;
    min-width: 250px;
}
main{
    flex-grow: 1;
    background: var(--cmap-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 0;
    /*padding: 30px 0 20px 0;*/
    overflow-y: scroll;
}
nav.side > .item, nav.side > div > .item{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 3px solid transparent;
    /*font-size: 0.85em;*/
}
nav.side > a.item.active, nav.side > div > a.item.active{
    border-left: 3px solid #4A90E2;
    background: rgba(0,0,0,0.1);
    /*color: #fff;*/
}



#devices_list{
    margin-bottom: 10px;
}

a.item{
    text-decoration: none;
    color: inherit;
}
a.btn, a.small-card{
    text-decoration: none;
}
a.item:hover{
    color: #F8FEFF;
}
.item.core > svg, .item.core > img{
    margin: 5px 12px 7px 23px;
}
.item:hover > svg, .item:hover > img{
    opacity: 1;
}
.item > svg, .item > img{
    opacity: 0.7;
    margin: 0 10px 0 20px;
}
.item:hover > svg{
    opacity: 1;
}


nav .separator{
    text-transform: uppercase;
    font-size: 0.85em;
    margin: 20px 20px 5px;
}
.optional .btn{
    margin: 15px 20px;
}
.btn{
    background: var(--cmap-border);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 15px 8px 10px;
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    min-height: 33px;
}
.btn:hover, .pin_button:hover {
    background: var(--cmap-border-darker);
}
.btn svg{
    margin-right: 5px;
}
.btn svg path{
    stroke: #fff;
    fill: #fff;
}
button.btn{
    width: 170px;
}
.pin_button {
    background: var(--cmap-border);
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 4px 4px 4px 4px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    cursor: pointer;
}
#help-wanted-text:hover {
    text-decoration: underline;
}

pre{
    overflow-x: scroll;
    background: rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px -10px;
}

input, textarea, .input, select{
    border: 1px solid var(--cmap-border);
    background: transparent;
    border-radius: 4px;
    padding: 8px 15px 8px 10px;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    min-width: 170px;
    color: #fff;
}


input[type="number"].inline, .input.inline{
    min-width: 30px;
    width: 80px;
    margin: 0 30px;
}
textarea{
    font-size: 0.7em;
}
input:hover{
    border: 1px solid #607082;
}
.card{
    max-width: 100%;
    width: 580px;
    border: 1px solid var(--cmap-border);
    border-radius: 4px;
    padding: 40px;
}
.spacer{
    height: 50px;
    min-height: 50px;
}
.hidden{
    display: none;
}
.center{
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.flex-item{
    margin: 0.5em;
}
.small-card{
    min-width: 220px;
    /*height: 250px;*/
    padding: 40px;
    background: transparent;
    border: 1px solid var(--cmap-border);
    border-radius: 4px;
    /*padding: 8px 15px 8px 10px;*/
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}
.small-card:hover{
    background: #203042;
}
.small-card.highlighted{
    border: 1px solid var(--cmap-blue) !important;
    cursor: default;
}
.small-card.highlighted:hover{
    background: transparent !important;
}
.small-card img{
    height: 130px;
    width: 70px;
    margin-bottom: 20px;
}
.note{
    font-size: 0.9em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    color: #ccc;
}
.card .note, .note.full-width{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
textarea{
    margin-bottom: 5px;
    height: 100px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}
.inputfile + label {
    cursor: pointer;
}
.card .note{
    width: 100%;
    margin-bottom: 10px;
}
/*.btn.btn-inline{
    display: inline;
    padding: 5px 15px;
    align-items: center;
    margin: 0 5px;
    font-size: 15px;
}*/
.btn > img{
    width: 12px;
    margin-right: 10px;
}
.btn.centered{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.btn.danger{
    background: var(--cmap-red-darker);
}
.btn.danger:hover{
    background: var(--cmap-red);
}
.btn.action{
    background: var(--cmap-blue-darker);
}
.btn.action:hover{
    background: var(--cmap-blue);
}
.btn.radio{
    border-radius: 0;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--cmap-border-darker);
    flex-grow: 1;
    flex-basis: 0;
    max-width: 170px;
}
.btn.radio:hover{
    background: #304052;
}
input[type="radio"].hidden{
    position: absolute;
    top: -100px;
    left: -100px;
}
input[type="radio"]:checked + .btn.radio,
.btn.radio.checked,
input[type="checkbox"]:checked + .btn.radio
{
    background: var(--cmap-border-darker);
}
input[type="radio"]:checked + .btn,
input[type="checkbox"]:checked + .btn
{
    background: var(--cmap-blue-darker);
}
input[type="radio"]:checked + .btn.hovering,
input[type="checkbox"]:checked + .btn.hovering
{
    visibility: visible;
    opacity: 1 !important;
}
.btn.radio.left{
    border-radius: 10px 0 0 10px;
}
.btn.radio.right{
    border-radius: 0 10px 10px 0;
}

.btn.radio.right.left{
    border-radius: 10px 10px 10px 10px;
}

nav.collapse-on-mobile a.mobile-nav-icon {
    display: none;
}